h1{
    color: white;
}
p{
    color: aqua;
}
#encabezado {
    background-color: antiquewhite;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
}
.menu{
width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 173, 230);
    border-radius: 10px;
}
.menu ul li{
    float: left;
    font-size: 20px;
}
.menu ul li a{
    display: block;
    color: rgb(14, 113, 191);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #fff;
    background-color: rgb(181, 145, 240);
    border-radius: 10px;
}
.redes{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes img{
    text-align: right;
    width:40px;
    padding: 5px;
}
/*#encabezado h1{    
box-shadow: 5px 5px 15px rgba(223, 12, 12, 0.5);
border-radius: 20px 0px 20px 0px;
    color: black;
}*/
#encabezado .encabezado1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#encabezado .encabezado2{
    color: aqua;
}
#encabezado .encabezado3{
    color: antiquewhite;
    font-family: "Lucida Console", "Courier New", monospace;
}
#conttargetas {
    height: 450px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.targeta{
    background-color: #ffffff;
    width: 350px;
    height: 400px ;
    justify-content: center;
    align-items: center;
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}
.targeta img{
    width: 80%;
    margin: 0 auto;
    padding: 10%;
}
.targeta h1{
    text-align: center;
    color: black;
}
.targeta p{
    text-align: center;
    color: gray;
    padding: 10px;
}
#informacion {
    background-image: url("../IMAGES/fondo1.jpg");
    background-position: center;
    height: auto;
    width: 80%;
    margin: 0 auto;
}
#informacion h1, h3{
    color: white;
    text-align: center;
}
#informacion p{
    color: white;
    text-align: justify;
    padding: 30px;
}
#informacion li{
    color: white;
}
#pie {
    background-color: gray;
    height: 70px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pieizq{
    width: 50%;
    text-align: left;
    color: #fff;
    padding: 20px;
}
.pieder{
    width: 50%;
    text-align: right;
    color: #fff;
    padding: 20px;
}