body{
    background-color: gainsboro;
}
h1{
    color: white;
}
p{
    color: aqua;
}
#encabezado {
    background-color: antiquewhite;
    height: 60px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
}
.menu{
width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(140, 196, 65);
    border-radius: 10px;
}
.menu ul li{
    float: left;
    font-size: 20px;
}
.menu ul li a{
    display: block;
    color: rgb(14, 113, 191);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #fff;
    background-color: rgb(14, 113, 191);
    border-radius: 10px;
}
.redes{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes img{
    width:40px;
}
/*#encabezado h1{    
box-shadow: 5px 5px 15px rgba(223, 12, 12, 0.5);
border-radius: 20px 0px 20px 0px;
    color: black;
}*/
#encabezado .encabezado1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#encabezado .encabezado2{
    color: aqua;
}
#encabezado .encabezado3{
    color: antiquewhite;
    font-family: "Lucida Console", "Courier New", monospace;
}